#assign_header {
	background-color: lightpink;
	color: Black;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 30px;
	margin-right:auto;
	margin-left:auto;
	padding-left: 0;
	padding-right: 0;
	max max-width: 800 px;
	text-align:left;
	padding:0 200 px;
}

#assign_header h4 {
	margin-bottom: 0px;
}

.caption {
	font-size: 14px;
	color: gray;
	margin-top: 30px;
}

#assignment_header {
	text-align: center;
}
##article-container {
    max-width: 700px;      /* this is the important part */
    margin: 0 auto;        /* centers the entire article */
    padding: 0 20px;       /* adds side spacing */
}
h1 {
    font-family: "Times New Roman", Times, serif;
}
.caption,
.byline {
    color: #777777;   /* dark gray */
}figure {
    margin: 2rem 0;
}

blockquote {
    padding-left: 1rem;
    border-left: 4px solid #ccc;
    color: #555;
    margin: 1.5rem 0;
    font-style: italic;
}





img {
    display: block;
    margin-left: auto;
    margin-right: auto;    /* centers images */
    max-width: 100%;
}



/*Feel free to add to this file, but leave the
stuff above alone.*/